footer.footer
    .footer__logo 
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav 
        li: a(href='#') About Us
        li: a(href='#') Download Us
        li: a(href='#') Become a quide 
        li: a(href='#') Careers
        li: a(href='#') contact
    p.footer__copyright &copy; by jonas Schemdtmann. Feel free to use this project for your own purposes, EXCEPT producing you own course
